block content
#modal
#editor
    #webvfx-collection
    #player-container
        video#player(src="live.webm", autoplay=true, loop=true , style="display:none")
    #container.container-background
    #main-controls
        #status-bar
        table
            tr
                td
                    fieldset
                        legend.editor= i18n.gettext("Add images")
                        input(type="file", id="files", value="files", multiple=true)
                    fieldset
                        legend.editor= i18n.gettext("Add text")
                        input(type="text", id="text", style="width:200px")
                    fieldset
                        legend.editor= i18n.gettext("Clear")
                        button#clear-all(style="width:100%")= i18n.gettext("clear all")
                td
                    fieldset
                        legend.editor= i18n.gettext("Sync")
                        button#update(style="width:100%")= i18n.gettext("update video")
                    fieldset
                        legend.editor= i18n.gettext("Storage")
                        select#sketchs
                            option [select]
                        button#new-sketch= i18n.gettext("new")
                        button#load-sketch= i18n.gettext("load")
                        button#save-sketch= i18n.gettext("save")
                        button#del-sketch= i18n.gettext("del")

                    fieldset
                        legend.editor= i18n.gettext("Options")
                        input#real-time-edition(type="checkbox")
                        label(for="real-time-edition")= i18n.gettext("real time edition")
                        br
                        input#safe-area(type="checkbox")
                        label(for="safe-area")= i18n.gettext("show safe area")
                        br
                        input#video-preview(type="checkbox")
                        label(for="video-preview")= i18n.gettext("video preview")
