block content
    .listHeader
        h1.list-name= "Manual"
         table(border='0')
            tr
                td(valign='top', style='padding:0 10px 0 15px;')
                    h3= "Add Banner"
                    form.form-horizontal#addBanner(method="post", action="addBanner")
                        .control-group
                            label.control-label(for="id")= 'Id : '
                            .controls
                                input.span2(id="id", type="text", name="id")
                        .control-group
                            label.control-label(for="text")= 'Text : '
                            .controls
                                input.span2(id="text", type="text", name="text")
                        .control-group
                            label.control-label(for="background")= 'Background color : '
                            .controls
                                input.span2(id="background_color", type="text", name="background_color")
                        .control-group
                            label.control-label(for="color")= 'Color: '
                            .controls
                                input.span2(id="color", type="text", name="color")
                        .control-group
                            label.control-label(for="scroll")= 'Scroll: '
                            .controls
                                input.span2(id="scroll", type="checkbox", name="scroll")
                        .control-group
                            label.control-label(for="top")= 'Top: '
                            .controls
                                input.span2(id="top", type="text", name="top")
                        .control-group
                            label.control-label(for="left")= 'Left: '
                            .controls
                                input.span2(id="left", type="text", name="left")
                        .control-group
                            label.control-label(for="bottom")= 'Bottom: '
                            .controls
                                input.span2(id="bottom", type="text", name="bottom")
                        .control-group
                            label.control-label(for="right")= 'Right: '
                            .controls
                                input.span2(id="right", type="text", name="right")
                        .control-group
                            label.control-label(for="height")= 'Height: '
                            .controls
                                input.span2(id="height", type="text", name="height")
                        .control-group
                            label.control-label(for="width")= 'Width: '
                            .controls
                                input.span2(id="width", type="text", name="width")
                        .form_actions
                            button.btn(type="submit")="Add"


                td(valign='top', style='padding:0 10px 0 15px;')
                    h3= "Add Image"
                    form.form-horizontal#addImage(action='addImage', method='post')
                        .control-group
                            label.control-label(for="id")= 'Id : '
                            .controls
                                input.span2(id="id", type="text", name="id")
                        .control-group
                            label.control-label(for="image")= 'Image: '
                            .controls
                                select.span2(name='images', id='images')
                                    for item in imageFiles
                                        option= item.name
                        .control-group
                            label.control-label(for="top")= 'Top: '
                            .controls
                                input.span2(id="top", type="text", name="top")
                        .control-group
                            label.control-label(for="left")= 'Left: '
                            .controls
                                input.span2(id="left", type="text", name="left")
                        .control-group
                            label.control-label(for="bottom")= 'Bottom: '
                            .controls
                                input.span2(id="bottom", type="text", name="bottom")
                        .control-group
                            label.control-label(for="right")= 'Right: '
                            .controls
                                input.span2(id="right", type="text", name="right")
                        .control-group
                            label.control-label(for="height")= 'Height: '
                            .controls
                                input.span2(id="height", type="text", name="height")
                        .control-group
                            label.control-label(for="width")= 'Width: '
                            .controls
                                input.span2(id="width", type="text", name="width")
                        .form_actions
                            button.btn(type="submit")="Add"
                td(valign='top')
                    h3= "Remove"
                    form#remove(action='remove', method='post')
                        .control-group
                            label.control-label(for="id")= 'Id: '
                            .controls
                                select.span2(name='elements', id='elements')
                                    for item in elements
                                        option= item.id
                        .form_actions
                            button.btn(type="submit")="Remove"
                td(valign='top')
                    h3="Effects"
                    form.form-horizontal#addEffect(action='addEffect', method='post')
                        .control-group
                            label.control-label(for="id")= 'Id: '
                            .controls
                                select.span2(name='elements', id='elements')
                                    for item in elements
                                        option= item.id
                        .control-group
                            label.control-label(for="effect")= 'Effect: '
                            .controls
                                select.span2(name='effects', id='effects')
                                    for item in effects
                                        option= item.name
                        .control-group
                            label.control-label(for="duration")= 'Duration: '
                            .controls
                                input.span2(id="duration", type="text", name="duration")
                        .control-group
                            label.control-label(for="iterations")= 'Iterations: '
                            .controls
                                input.span2(id="iterations", type="text", name="iterations")
                        .control-group
                            label.control-label(for="delay")= 'Delay: '
                            .controls
                                input.span2(id="delay", type="text", name="delay")
                        .form_actions
                            button.btn(type="submit")="Remove"

                td(valign='top')
                    h3="Move"
                    form#move(action='move', method='post')
                        .control-group
                            label.control-label(for="id")= 'Id: '
                            .controls
                                select.span2(name='elements', id='elements')
                                    for item in elements
                                        option= item.id
                        .control-group
                            label.control-label(for="x")= 'X: '
                            .controls
                                input.span2(id="x", type="text", name="x")
                         .control-group
                            label.control-label(for="y")= 'Y: '
                            .controls
                                input.span2(id="y", type="text", name="y")
                         .control-group
                            label.control-label(for="duration")= 'Duration: '
                            .controls
                                input.span2(id="duration", type="text", name="duration")
                         .form_actions
                            button.btn(type="submit", name="move")="Move"
            tr
                td(valign='top', style='padding:0 10px 0 15px;')
                    h3="Upload image"
                    form#uploadImage(action='uploadImage', method='post' , enctype='multipart/form-data')
                        .control-group
                            .controls
                                input.span4(id="uploadedFile", type="file", name="uploadedFile")
                        .form_actions
                            button.btn(type="submit")="Upload"

